.details-job{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 640px) {
        /* Small screens */
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* Two columns */
    }

    @media (min-width: 768px) {
        /* Medium screens */
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* Two columns */
    }

    @media (min-width: 1024px) {
        /* Large screens */
        /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
        /* Five columns */
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 3fr 1fr; 
    }
}