.remote {
    border: 1px solid red;

}

/* .img{
    width: 8px;
    height: 8px;
} */
.single-jobs-container {
    /* border: 1px solid red; */
    padding: 20px;
}

.details-button {
    margin-top: 10px;
    font-size: larger;
    font-weight: 100;
    font-style: normal;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;

}