.footer-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* Default to one column for all screen sizes */
    background-color: black;
    color: white;
    
    @media (min-width: 640px) {
        /* Small screens */
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Two columns */
    }

    @media (min-width: 768px) {
        /* Medium screens */
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Two columns */
    }

    @media (min-width: 1024px) {
        /* Large screens */
        grid-template-columns: repeat(5, minmax(0, 1fr));
        /* Five columns */
    }
}

.header {
    font-size: larger;
    font-weight: bolder;
    color: red;
    font-style: normal;
}

.semi-header {
    font-size: large;
    font-weight: bold;
    color: red;
    font-style: normal;
}
div.footer-icon{
    padding-right: 2rem;
}